# Binaries
**/bin/
**/bin-int/
bin-intermediate/
Intermediates/
**/x64
**/Win32

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

## Rider
.idea/

## Visual Studio Code
.vscode/

